body {
    background-image: url("../../assets/images/squares_@2X.png");
    background-size: 10px 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'Passion One', cursive;
    font-size: 7vw;
    text-align: center;
    color: yellow;
}

.top_aux {
    margin-bottom: 20px;
    color: #ddd;
    font-family: 'Passion One', cursive;
    font-size: 1em;
    letter-spacing: .25em;
}

.top_aux .btn {
    color: #444 !important;
}

.main_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show {
    background-color: white;
    border: 2px solid red;
    display: inherit;
}

.hide {
    background-color: black;
    border: 2px solid yellow;
    display: none;
}

.row .select_rebel, .row .select_empire {
    flex-wrap: nowrap;
}

.fighter {
    margin: 10px;
    padding: 6px 12px 0 0;
    text-align: right;
}

.empire_char {
    height: 250px;
    width: 250px;
    background-color: #444;
    color: #ddd
}

.rebel_char {
    height: 250px;
    width: 250px;
    background-color: #ddd;
    color: red;
}

#char_img {
    z-index: -1;
}

.fighter h3 {
    font-family: 'Kanit', sans-serif;
    color: red;
    font-size: 1.75em;
    text-transform: uppercase;
}

.fighter h4 {
    font-family: 'Press Start 2P', cursive;
    color: red;
    font-size: 1.25em;
}

#start_over {
    text-decoration: underline;
}

#stage_indicator {
    color: #ddd;
    text-align: center;
}